*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    --webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    --webkit-line-break: after-white-space;
    --webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* HOMEPAGE */

body {
    font-family: 'Luckiest Guy', cursive;
    height: 100vh;
    background-color: #a0a1b1;
}

h1 {
    color: #3a3135;
    font-size: 2.2em;
    font-weight: 800;
    text-align: center;
    padding: 20px 0px 40px 0px;
}

.contenitore_homepage {
    background-color: #bdc363;
}


.contenitore_homepage .links ul li {
    padding: 10px 0px;
    margin-left: 30px;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    position: relative;

}

.contenitore_homepage .links ul li a {
    color: #83494e;
}

.contenitore_homepage .links ul li a:hover {
    color: rgb(201, 91, 2);
    transform: rotate(45deg);
    animation: color 5s linear infinite;

    @keyframes color {
        25% {
            color: red;
        }

        50% {
            color: green;
        }

        75% {
            color: red;
        }

        90% {
            color: rgb(240, 220, 38);
        }

        100% {
            color: red;
        }
    }
}

.contenitore_homepage .links ul li span {
    color: #c19261;

}

.contenitore_homepage .links form input {
    margin-left: 20px;
    padding: 3px;
    color: rgb(231, 60, 60);
    font-size: 0.6em;
    border: 1px solid rgb(231, 60, 60);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, 50%);
}

/* SHOW */

.contenitore_singolo {
    height: 95vh;
    background-color: #c19261;
}

.modifica {
    height: 5vh;
}

.contenitore_singolo a {
    color: #26263c;
    padding-left: 10px;
}

.contenitore_singolo #prezzo {
    color: black;
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.contenitore_singolo .contenitore_immagine {
    width: 200px;
    margin: 0 auto;
}

.contenitore_singolo .contenitore_immagine img {
    border: 5px solid rgb(89 222 241 / 1);
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1%);
}

.contenitore_singolo h1 {
    color: #276568;
    padding: 40px 0px;
}

.contenitore_singolo p {
    color: #83494e;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1em;
}

.contenitore_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenitore_form div {
    padding: 10px 0px;
}

.contenitore_form input,
.contenitore_form textarea {
    background-color: #276568;
    border-radius: 20px;
}

.contenitore_form #crea {
    cursor: pointer;

}

.contenitore_form #crea input {
    padding: 10px;
}


.aggiungi_nuovo {
    display: inline-block;
    color: rgb(81, 255, 0);
    border: 1px solid rgb(81, 255, 0);
    margin-top: 15px;
    margin-left: 15px;
}

.aggiungi_nuovo a {
    padding: 10px
}
